@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CodeFont';
  src: url(/fonts/digital-7.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;

}
* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  color: #BFDBFE;
}
p {
  font-weight: lighter;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
header img {
  height: 2rem;
}
header ul {
  display: flex;
  list-style: none;
}
header li {
  margin-right: 1rem;
}
header a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
main {
  padding: 1rem;
}

/* TEXT SPAN HIGHLIGHT */
.text-danger {
  @apply text-red-500 font-bold;
  text-shadow: 0 0 5px rgba(254, 0, 0, 0.5);
}

.text-caution {
  @apply text-yellow-500 font-bold;
  text-shadow: 0 0 5px rgba(255, 255, 0, 0.5);

}

.text-highlight {
  @apply text-blue-500 font-semibold;
  text-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
}
.text-success {
  @apply text-green-500 font-bold;
  text-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
}

/* Carrusel */
carrusel-slide {
  position: fixed; /* Para hacer que el carrusel quede fijo en la pantalla */
  top: 0; /* Ajustar según la posición deseada */
  z-index: 10; /* Asegúrate de que esté por encima de otros elementos */
}
.ticker-wrapper {
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, black 10%, black 80%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 80%, transparent);
}

/* Para pantallas grandes (desktop), mínimo 1024px */
@media screen and (min-width: 1024px) {
  .custom-margin {
    margin-top: 500px; /* Ajuste para desktop */
  }
}

/* Para pantallas medianas (tablets), entre 600px y 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .custom-margin {
    margin-top: 600px; /* Ajuste para tablets */
  }
}

/* Para pantallas pequeñas (móviles), máximo 599px */
@media screen and (max-width: 768px) {
  .custom-margin {
    margin-top: 1300px; /* Ajuste para móviles */
  }
  .ticker-wrapper {
    position: relative;
    overflow: hidden;
    mask-image: none;
    -webkit-mask-image: none;
  }
}